atari-py==0.2.6
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
cycler==0.10.0
e==1.4.5
future==0.18.2
gym==0.17.1
-e git+https://github.com/xc-jp/InsertionAI.git@bbb9bfbeb6934b1ab7caed9c39c0d6b6eab11e87#egg=gym_insertion&subdirectory=gym-insertion
joblib==0.14.1
kaptan==0.5.12
kiwisolver==1.2.0
libtmux==0.8.2
matplotlib==3.2.1
numpy==1.18.4
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.3
Pillow==9.3.0
pyglet==1.5.0
pyparsing==2.4.7
pyro-api==0.1.1
pyro-ppl==1.3.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scipy==1.4.1
six==1.14.0
stable-baselines==2.10.0
torch==1.5.0
tqdm==4.46.0
